ci
docs
node_modules
application/node_modules
application/android/build
application/android/app/build
application/android/app/.cxx
application/android/.gradle
application/android/.idea/
application/ios/build
application/ios/Pods
application/ios/Podfile.lock
tuikit-atomic-x/node_modules
tuikit-atomic-x/android/build
tuikit-atomic-x/android/.gradle
tuikit-atomic-x/android/libs/
live/node_modules
yarn.lock
.yarn
lefthook.yml
